#body {
	height: 320px;
	width: 240px;
}

#dim_controls {
	margin-top: 150px;
}

#dim_less_group {
	width: 120px;
	height: 50px;
	margin-top: -50px;
  margin-left: 120px;
	text-align: right;
}

#dim_more_group {
  width: 120px;
	height: 50px;
	text-align: left;
}
